body {
  background: #1e252b;
  font-family: Poppins;
  overflow-x: hidden;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
}
.header-flex-wrap {
  display: flex;
  align-items: center;
}
.group-header-png {
  height: 26px;
  width: 20px;
  padding-top: 6px;
}
.header-logo-link {
  padding-top: 38px;
  text-decoration: none;
  display: flex;
  margin-right: auto;
}
.header-logo-link-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 22px;
}
.header-link-row {
  display: flex;
  list-style-type: none;
  gap: 45px;
  padding-top: 38px;
}
.small-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.header-svg-container {
  display: flex;
  flex-direction: row;
  grid-gap: 2px;
}
.header-svg {
  padding-top: 5px;
}
.button-row {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 28px;
  margin-left: auto;
}
.header-button-login {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 12px;
  background: none;
  border: none;
  padding-right: 41px;
}
.header-button-sign {
  width: 118px;
  height: 48px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
}
.section-awesome-tools {
  background-image: url(./src/images/background1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 104px;
}
.awesome-tools-title {
  width: 600px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
}
.awesome-tools-title::after {
  content: ".";
  color: #ff6e30;
}
.awesome-tools-text {
  width: 487px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.form-awesome-tools {
  display: flex;
  width: 497.659px;
  height: 64px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
}
.form-awesome-tools::before {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("./src/images/search.png");
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 13px;
}
.form-input-tools {
  width: 300px;
  height: 64px;
  border-radius: 15px;
  border: none;
  background: #283036;
  outline: none;
}
.form-input-tools::placeholder {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 13px;
}
.form-button-search {
  width: 130.435px;
  height: 48px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  margin-top: 8px;
  margin-left: 18px;
}
.social-row {
  display: flex;
  margin-top: 122px;
  column-gap: 30px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.tools-link-h2 {
  width: 455px;
  margin-top: 200px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.tools-text {
  width: 427px;
  margin: 0 auto;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 110px;
}
.tools-hero-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  row-gap: 100px;
}
.program-tools {
  width: 392px;
  height: 294px;
  padding-left: 30px;
}
.program-tools-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
}
.program-tools-pay {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
}
.program-tools-text {
  width: 326px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
.title-pay-container {
  display: flex;
  margin-top: 33px;
}
.hero-button-visit {
  width: 106px;
  height: 42px;
  border-radius: none;
  background: none;
  border: none;
  background: #1e252b;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 130px;
}
.tools-flexbox-img-button {
  display: flex;
  margin-top: 37px;
  margin-left: 10px;
}
.img-row {
  display: flex;
}
.picture-like {
  margin-right: 25px;
}
.program-tools:hover {
  width: 392px;
  height: 294px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}
.program-tools:hover .hero-button-visit {
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-button-load {
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  color: #ff6e30;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  text-align: center;
}
.brand-container {
  background-image: url("./src/images/rectangle.png");
}
.section-brend {
  padding-bottom: 200px;
}
.brand-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  padding-top: 55px;
}
.brand-list {
  display: flex;
  margin-left: 82px;
  column-gap: 107px;
  margin-top: 55px;
  padding-bottom: 60px;
}
.newcomer-flexbox {
  display: flex;
}
.newcomer-tools-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.newcomer-text {
  width: 427px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
}
.newcomer-button-explore {
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
  border: 0;
}
.newcomer-programs-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 50px;
  margin-left: 197px;
}
.newcomer-programs-items {
  width: 288px;
  height: 284px;
  border-radius: 15px;
  background: #1e252b;
  padding-left: 22px;
  padding-top: 28px;
}
.newcomer-title-pay {
  display: flex;
}
.newcomer-programs-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 34px;
}
.newcomer-programs-pay {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 34px;
}
.newcomer-programs-text {
  width: 245px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 37px;
}
.newcomer-flexbox-img-button {
  display: flex;
}
.newcomer-img-row {
  display: flex;
}
.newcomer-programs-like {
  margin-left: 3px;
  margin-right: 25px;
}
.newcomer-programs-button-visit {
  width: 106px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background: #1e252b;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 49px;
}
.newcomer-programs-items:hover {
  width: 288px;
  height: 284px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}
.newcomer-programs-items:hover .newcomer-programs-button-visit {
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section-ronald {
  padding-top: 200px;
  padding-bottom: 250px;
}
.ronald-flexbox {
  display: flex;
}
.chevron-grey {
  height: 48px;
  width: 48px;
  margin-top: 222px;
}
.chevron-orange {
  height: 48px;
  width: 48px;
  margin-left: 125px;
  margin-top: 222px;
}
.ronald {
  width: 399px;
  height: 600px;
  background-image: url("./src/images/david.png");
  background-repeat: no-repeat;
  margin-left: 123px;
}
.ronald-richards-profession {
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  margin-top: 370px;
  margin-left: 145px;
}
.ronald-richards-name {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
  margin-top: 10px;
  margin-left: 23px;
}
.ronald-richards-text {
  color: rgba(255, 253, 253, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 23px;
}
.ronald-description {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.21px;
  width: 393px;
  margin-top: 128px;
  margin-left: 100px;
  position: relative;
  z-index: 0;
}
.animation-row {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.animation-row-black {
  height: 8px;
  width: 52px;
  background: #283036;
  border-radius: 10px;
}
.animation-row-orange {
  height: 8px;
  width: 52px;
  background: #ff6e30;
  border-radius: 10px;
}
.backgrond-text {
  position: absolute;
  z-index: 0;
  margin-top: 75px;
  margin-left: 50px;
}
.section-contributor {
  padding-bottom: 240px;
}
.contributor-title {
  width: 553px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 0 auto;
}
.contributor-text {
  width: 427px;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 25px;
}
.contributor-form {
  margin: 0 auto;
  margin-top: 100px;
  width: 549px;
  height: 64px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
}
.contributor-form-input {
  width: 400px;
  height: 64px;
  border-radius: 15px;
  border: 0;
  background: #283036;
  outline: none;
}
.contributor-form-input::placeholder {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 25px;
}
.contributor-email-button-join {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
}
.before-footer-line {
  width: 100vw;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.15);
}
.footer {
  padding-top: 70px;
  padding-bottom: 98px;
}
.footer-flexbox {
  display: flex;
}
.foter-text-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-logo {
  display: flex;
  gap: 12px;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 21px;
}
.copyright-text {
  width: 260px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.footer-info {
  display: flex;
  column-gap: 116px;
}
.footer-contact {
  margin-left: 156px;
}
.contact-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-list {
  list-style-type: none;
  margin-top: 20px;
}
.contact-list-item {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-list li {
  margin-bottom: 10px;
}
.categories-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.categories-list {
  margin-top: 20px;
}
.categories-list li {
  margin-bottom: 10px;
}
.categories-list-item {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.company-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.company-list {
  margin-top: 20px;
}
.company-list-item {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.company-list li {
  margin-bottom: 10px;
}
